<nav class="navbar navbar-expand-xxl bg-light ">
    <div class="container-fluid">
        <div class="container">
            <a class="nav_logo" href="/main">
                <img src="{{ url_for('static', path='photos/worx.png') }}" alt="" class="nav_logo">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="" data-bs-toggle="modal"
                       data-bs-target="#staticBackdrop">Add repo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Choose Repo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1    ">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choose_repo"
                                       id="repo1" value="naviapp">
                                <label class="form-check-label" for="repo1">
                                    NaviApp
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choose_repo"
                                       id="repo2" value="vkbot">
                                <label class="form-check-label" for="repo2">
                                    VKBot
                                </label>
                            </div>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Choose member
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choose_user"
                                       id="user1" value="ramz1t">
                                <label class="form-check-label" for="user1">
                                    Ramz1t
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choose_user"
                                       id="user2" value="egorbi">
                                <label class="form-check-label" for="user2">
                                    Egorbi
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary btn-custom" onclick="get_stats()">Show stats</button>
                    </li>
                </ul>
                <a class="photo_position" href="/profile">
                    {% if gender == "male" %}
                    <img class="navphoto" width="200" src="{{ url_for('static', path='photos/male.png') }}">
                    {% else %}
                    <img class="navphoto" width="200" src="{{ url_for('static', path='photos/female.png') }}">
                    {% endif %}
                </a>
            </ul>
        </div>
    </div>
</nav>


<div class="popup" id="chooseRepo">
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add repository</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">/</span>
                        <input id="repository_name" type="text" class="form-control" placeholder="Reponame"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">@</span>
                        <input id="owner_name" type="text" class="form-control" placeholder="Owner's username"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <label for="repourl" class="form-label">Via repository link</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="repourl" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="inputerror" class="inputerror" style="visibility: hidden"><span
                            class="badge text-white bg-danger">Not enough info</span></div>
                    <button id="closerepo" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-custom text-white" onclick="add_repo()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script rel="text/javascript" src="{{ url_for('static', path='js/add_repo.js') }}"></script>
