<!doctype html>
<html lang="en">
<head>
    <title>Log In</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/settings.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', path='photos/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='style/login.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='js/login.js') }}"></script>
    {% include 'components/bootstrap.html' %}

</head>

<body>
{% include 'components/alert.html' %}
<div class="card shadow-lg" style="width: 40rem;">
    <div class="card-body">
        <p class="text-center fs-3 fw-bolder">Authorization</p>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="name@example.com">
            <label for="password">Password</label>
        </div>
        <div class="btn">
            <button type="button" class="btn btn-custom text-light" onclick="login()">Log In</button>
        </div>
    </div>
</div>
<div class="had">
    <a class="link text-decoration-none" href="/register" >I don't have an account</a>
</div>

</body>
</html>
