<!DOCTYPE html>
<html lang="en">
<head>
    <div class = "head"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>WorX</title>
    <link rel="icon" href="photos/worx.ico">

</head>
<body>
<div class = "nav"></div>
<div class="mainpage_text">
    <p class="text-center fs-1 fw-bold ">WorX</p>
    <p class="text-center fs-1 fw-bold ">We, pupils of MSHP, made this project to made teacher's work easier</p>
</div>


</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".nav").load("components/navbar.html");
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".head").load("components/head.html");
    });
</script>
