<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style/profile.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='js/user_settings.js') }} "></script>
    {% include 'components/bootstrap.html' %}
</head>
<body>
{% include 'components/alert.html' %}
<div class="nav">{% include 'components/navbar.html' %}</div>
<br>
<br>
<ul class="profile-list-group">
    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#Change_email">Change email</li>
    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#Change_name">Change name</li>
    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#Change_password">Change password</li>
    <!--    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#Change_photo">Change profile picture</li>-->
    <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#Change_gender">Change gender</li>
    <li class="list-group-item text-danger"><a class="profile_logout" href="/">Log Out </a></li>
</ul>

<div class="profile_objects">
    {% if gender == "male" %}
    <img class="profile_img" width="200" src="{{ url_for('static', path='photos/male.png') }}">
    {% else %}
    <img class="profile_img" width="200" src="{{ url_for('static', path='photos/female.png') }}">
    {% endif %}
    <div class="profile_text">
        <h1 id="name">{{ name }}</h1>
        <h3 id="email" style="color:grey">{{ email }}</h3>
    </div>
</div>


<!-- login -->
<div class="modal fade" id="Change_email" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Change_email_popup">Change email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="New_email" placeholder="name@example.com">
                    <label for="New_email">New Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="name@example.com">
                    <label for="password">Password (required for verification)</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="clear_email()">
                    Close
                </button>
                <button type="button" class="btn btn-custom text-white" onclick="change_email()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- name -->
<div class="modal fade" id="Change_name" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Change_name_popup">Change name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="New_name" placeholder="name@example.com">
                    <label for="New_name">New name</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="clear_name()">
                    Close
                </button>
                <button type="button" class="btn btn-custom text-white" onclick="change_name()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Password -->
<div class="modal fade" id="Change_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="change_password_label">Change password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Old_pass" placeholder="name@example.com">
                    <label for="Old_pass">Old password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="New_pass" placeholder="name@example.com">
                    <label for="New_pass">New password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Repeat_new_pass" placeholder="name@example.com">
                    <label for="Repeat_new_pass">Repeat new password</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                        onclick="clear_password()">Close
                </button>
                <button type="button" class="btn btn-custom text-white" onclick="change_password()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Gender-->
<div class="modal fade" id="Change_gender" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content gender-menu">
            <div class="modal-header">
                <h5 class="modal-title" id="">Change gender</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="gender-container">
                <div class="card gendercard" style="width: 12rem;">
                    <img src="{{ url_for('static', path='photos/male.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="form-check">
                            <input value="male" class="form-check-input" type="radio" name="gender" id="malegender">
                            <label class="form-check-label" for="malegender">
                                Male
                            </label>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="card gendercard" style="width: 12rem;">
                    <img src="{{ url_for('static', path='photos/female.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="form-check">
                            <input value="female" class="form-check-input" type="radio" name="gender"
                                   id="femalegender">
                            <label class="form-check-label" for="femalegender">
                                Female
                            </label>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-custom text-white" onclick="change_gender()">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Photo -->
<!--<div class="modal fade" id="Change_photo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"-->
<!--     aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="staticBackdropLabel">Change password</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="input-group mb-3">-->
<!--                    <label class="input-group-text" for="inputGroupFile01">Upload</label>-->
<!--                    <input type="file" class="form-control" id="inputGroupFile01">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
