<!doctype html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    {% include 'components/bootstrap.html' %}
    <title>Statistic</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
            integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='style/stats.css') }}">

</head>
<body>
{% include 'components/alert.html' %}
<div class="nav">{% include 'components/navbar.html' %}</div>
<br>
<br>
<h1 class="special-line">Selected repo and user: {{reponame}}, {{username}}</h1>
<div class="stats-wrapper">
    <div class="card">
        <div class="card-header">
            <i class="bi bi-person-check stats-icon"></i>
            Most effective user
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ most_effective_user }}</b></p>
                <footer class="blockquote-footer">User who made most commits in <cite title="Source Title">{{ reponame
                    }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="bi bi-person-x stats-icon"></i>
            Least effective user
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ least_effective_user }}</b></p>
                <footer class="blockquote-footer">User who made least commits in <cite title="Source Title">{{ reponame
                    }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="bi bi-arrow-up-right stats-icon"></i>
            Total commits count
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ repo_commits_count }}</b></p>
                <footer class="blockquote-footer">Total amount of commits pushed to <cite title="Source Title">{{
                    reponame
                    }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="bi bi-person-bounding-box stats-icon"></i>
            Commits from selected user
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ user_repo_commits }}</b></p>
                <footer class="blockquote-footer">Total amount of commits pushed to <cite title="Source Title">{{
                    reponame
                    }}</cite> by <cite title="Source Title">{{
                    username
                    }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="bi bi-people stats-icon"></i>
            Contributors count
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ repo_contributors_count }}</b></p>
                <footer class="blockquote-footer">Total amount people who made smth in <cite title="Source Title">{{
                    reponame
                    }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="bi bi-git stats-icon"></i>
            Branches
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>{{ repo_branches }}</b></p>
                <footer class="blockquote-footer">Total amount of branches in <cite title="Source Title">{{
                    reponame
                    }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div id="leaderboard">
        <table class="table users-commits">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Commits count</th>
            </tr>
            </thead>
            <tbody>
            {% for commit in commit_leaderboard %}
            <tr>
                <th scope="row">{{ commit.id }}</th>
                <td>{{ commit.name }}</td>
                <td>{{ commit.count }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
