@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto&display=swap');


.navphoto {
    border-radius: 50%;
}
.nav-link {
    color: #4527a0 !important;
}

.navphoto {
    height: 45px;
    width: 45px;
}

.navbar{
    width:100%;
}

.photo_position {
    padding-right: 20px;
    position: absolute;
    right: 0;
    height = 50px;
    width = 50px;
    border = none;
    border-radius: 50%;
}

.nav_logo{
    height:50px;
}
.container{
    padding-right: 50px;
    width:45px;
}

.error-custom{
    background-color: red !important
}

.btn-add {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn-purple {
  border-color: #4527a0 !important;
  color: #4527a0 !important;
}

.btn-purple:hover {
  background-color: #4527a0;
  color: white;
}

.inputerror {
 visibility: hidden;
 padding-right: 45%;
}

.cards{
    color: white !important;
    width: 92%;
    margin: 0 auto;
}

.card{
    border-radius: 15px !important;
    float:left;
    margin: 75px;
    border-color: #4527a0 !important;
}
.graph1{
    padding-left:0px;
    padding-right:15px;
}
.card-body{
    border-radius: 15px !important;
}

.card-bg-custom{
    color: #292929;
}

.users-commits {
    width: 50%;
}

.navbar-choice {
    padding-left: 15px !important;
}
