
body{
    padding-top:40px;
    background-image: url("../photos/bg.png");

}

.card{
    margin:auto;
}

.btn-custom{
    padding-top: 10px;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.had{
    text-align:center;
    padding: 10px;
}
.link{
    color:black !important;
}

.btn-login-custom{
    background-color:#4527A0 !important;
    width: 100%;
}
